
.hospitalutilites{
    background-color: rgb(232, 245, 245);
   
}
.images img{
    max-width: 400px;
} 

.medico-half{
    width: 50%;
}
@media only screen and  (max-width:600px){
    .medico-half{
        width: 100% !important;
    }
}