.break{
    width: 100px;
    color: rgb(75, 75, 77);
}
.about-medico{
    width: 300px;
}
.copy{
    background-color: rgb(48, 48, 49);
    
}
.footer-above{
    background-color: rgb(216, 211, 211);
    padding: 15px 0;
}