body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div#root {
  width: 100%;
  overflow-x: hidden;
}
.about-my-section{
  display: flex;
}
.about-my-section div{
  width: 50%;
}
div#accordionExample {
  width: 100%;
}
.accordion-item {
  width: 100% !important;
}
.accordion-body {
  width: 100% !important;
}
div#collapseOne {
  width: 100%;
}
@media only screen and (max-width: 600px){
  .about-my-section{
    flex-wrap: wrap;
  }
  .about-my-section div{
    width: 100%;
  }
  .about-my-section.d-flex.justify-content-around.align-items-center.p-5 {
    flex-wrap: wrap;
}
}
@media only screen and (max-width: 600px){
  .footer-above{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}